/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'ADELIA';
  src: url('./assets/fonts/Geist.otf');
}

body {
  background-color: #0a0a0a; /* Your dark background color */
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 35px 35px;
  background-position: 0 0, 17.5px 17.5px;

}
